<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Monsieur Lamah</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chef-box">
    <div class="upper-box">
      <div class="img">
        <img src="../../../assets/users/001.JPG" alt="">
      </div>
      <div class="name-text">
        <h5>Monsieur Lamah</h5>
        <p>Houston, Texas</p>
        <p><ion-icon name="star"></ion-icon><span>1.0</span>(200 Commentaires)</p>
      </div>
      <div class="hour-text">
        <p class="ion-text-end">1.0 Km <ion-icon color="red" name="ellipsis-vertical-outline"></ion-icon></p>
        <h5 class="ion-text-end">$20/Hout</h5>
        <ion-button color="danger">Réserver</ion-button>
      </div>
    </div>
  </div>
</ion-content>